.site__what {
    display: flex;
    flex-direction: column;
    background: var(--color-footer);
    padding: 2rem;
}

.site__what-feature {
    display: flex;
}

.site__what-feature .site__features-container__feature {
    margin: 0;
}

.site__what-feature .site__features-container__feature-text {
    max-width: 700px;
}

.site__what-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 2rem;
}

.site__what-heading h1 {
    font-weight: 800;
    line-height: 45px;
    max-width: 500px;
}

.site__what-heading p {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
}

.site__what-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
}

.site__what-container .site__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 200px;
    display: unset;
    flex-direction: column;
}

.site__what-container .site__features-container__feature-text {
    margin-top: 0.5rem;
}



@media screen and  (max-width: 850px) {
    .site__what-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .site__what-heading p {
        margin-top: 1rem;
    }
}

@media screen and  (max-width: 650px) {
    .site__what-feature .site__features-container__feature {
        flex-direction: column;
    }

    .site__what-feature .site__features-container__feature-text {
        margin-top: 0.5rem;
    }

    .site__what-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and  (max-width: 350px) {
    .site__what-container .site__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}



