.site__blog-container_article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-footer);
}

.site__blog-container_article-img {
    width: 100%;
    height: 100%;
    background: var(--color-footer);
}

.site__blog-container_article-img img {
    width: 100%;
    height: 100%;
}

.site__blog-container_article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    height: 100%;
}

.site__blog-container_article-content p {
    font-weight: bold;
    font-size: 12px;
    line-height: 34px;
    color: white;
}

.site__blog-container_article-content h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 5rem;
    cursor: pointer;
    color: white;
}

.site__blog-container_article-content p:last-child {
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .site__blog-container_article-content h3 {
        font-size: 18px;
        line-height: 24px;
    }
}