.site__CTA {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar);
}

.site__CTA-content p {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
}

.site__CTA-content h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 48px;
}

.site__CTA-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;

}

.site__CTA-btn button {
    border-radius: 40px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

@media screen and (max-width: 650px) {
    .site__CTA {
        flex-direction: column;
    }

    .site__CTA-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .site__CTA {
        margin: 4rem 2rem;
    }

    .site__CTA-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .site__CTA-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}