.site__features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.site__features-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;
}

.site__features-heading h1 {
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
}

.site__features-heading p {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    margin-top: 2rem;
    color: #FF8A71;
}

.site__features-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 990px) {
    .site__features {
        flex-direction: column;
    }

    .site__features-heading {
        margin: 0 0 2rem 0;
    }
}

@media screen and (max-width: 550px) {
    .site__features-heading h1 {
        font-size: 24px;
        line-height: 30px;
    }
}