.site__possibility {
    display: flex;
    flex-direction: row;

}

.site__possibility-img {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
}

.site__possibility-img img {
    width: 100%;
    height: 100%;
}

.site__possibility-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.site__possibility-content h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text);
}

.site__possibility-content h4:last-child {
    color: var(--color-subtext);
}

.site__possibility-content h1 {
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    margin: 1rem 0;
}

.site__possibility-content p {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text);
    margin-bottom: 2rem;
}

@media screen and (max-width:950px) {
    .site__possibility {
        flex-direction: column;
    }

    .site__possibility-img {
        margin: 1rem 0;
    }

    .site__possibility-content {
        margin-top: 2rem;
    }
}