.site__header {
    display: flex;
    
}

.site__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.site__header-content h1 {
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
}

.site__header-content p {
    font-size: 20px;
    line-height: 25px;
    color: var(--color-text);
    margin-top: 1.5rem;
}

.site__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}

.site__header-content__input input {
    background: var(--color-footer);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    min-height: 50px;
    font-size: 20px;
    line-height: 25px;
    border: 1px solid var(--color-text);
    padding: 0 1rem;
    outline: none;
    color: #FFFF;
}

.site__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    background: var(--color-button);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #FFFF;
    padding: 0 1rem;
    cursor: pointer;
    outline: none;
    border: none;
}

.site__header-content__people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}

.site__header-content__people img {
    width: 180px;
    height: 40px;
}

.site__header-content__people p {
    font-weight: 500;
    margin: 0 0 0  1rem;
    font-size: 12px;
    line-height: 40px;
    color: #FFFF;
    text-align: center;
}

.site__header-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.site__header-img img {
    width: 100%;
    height: 100%;
    
}

@media screen and (max-width: 1050px) {
    .site__header {
        flex-direction: column;
    }

    .site__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .site__header h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .site__header p {
        font-size: 16px;
        line-height: 24px;
    }

    .site__header-content__people {
        flex-direction: column;
    }

    .site__header-content__people p {
        margin: 0;
    }

    .site__header-content__input input, 
    .site__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .site__header h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .site__header p {
        font-size: 14px;
        line-height: 24px;
    }

    .site__header-content__input input, 
    .site__header-content__input button {
        font-size: 12px;
        line-height: 26px;
    }
}

