.site__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-footer);
}

.site__footer-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.site__footer-heading h1 {
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    text-align: center;
}

.site__footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid white;
    text-align: center;
    margin-bottom: 10rem;
    cursor: pointer;
}

.site__footer-btn p {
    box-sizing: border-box;
    font-size: 18px;
    line-height: 21px;
    color: white;
    word-spacing: 2px;
}

.site__footer-links {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    text-align: left
}

.site__footer-links div {
    width: 250px;
    margin: 1rem;
}

.site__footer-links_logo {
    display: flex;
    flex-direction: column;
}

.site__footer-links_logo img {
    width: 118px;
    height: 30px;
    margin-bottom: 1rem;
}

.site__footer-links_logo p {
    font-size: 12px;
    line-height: 14px;
}

.site__footer-links_div {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.site__footer-links_div h4 {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 1rem;
}

.site__footer-links_div p {
    font-size: 12px;
    line-height: 14px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.site__footer-copyright {
    color: white;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.site__footer-copyright p {
    font-size: 12px;
    line-height: 14px;
}

@media screen and (max-width: 850px) {
    .site__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .site__footer-heading h1 {
        font-size: 32px;
        line-height: 44px;
    }

    .site__footer-links_div {
        margin: 1rem 0;
    }

    .site__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}